

<div class="container footer">
  <div class="row">
    <div class="col-12 text-center f1">
      <h2 class="contact-header">Contact Us</h2>
    </div>
    <div class="col-12 text-center f2">
      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 btn btn-lg">
        <a href="https://www.linkedin.com/in/charles-ezema-2442b465/" class="">LINKEDIN</i></a>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 btn btn-lg">
        <a href="https://twitter.com/iykecharles316" class="">TWITTER</i></a>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 btn btn-lg">
        <a href="https://www.instagram.com/software_developer316/" class="">INSTAGRAM</i></a>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 btn btn-lg">
        <a href="https://web.facebook.com/charles.ezema.3" class="">FACEBOOK</i></a>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 btn btn-lg">
        <a href="https://web.facebook.com/charles.ezema.3" class="">GOOGLE</i></a>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <!--Card-->
          <h4>Our Addresses</h4>
          <h6>91b Oniru Road, Lekki</h6>
          <h6>Lagos, Nigeria</h6>
          <h6>Iykecharles@yahoo.com</h6>
          <h6>+234-7030669469</h6>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <!--Card-->
          <h4>Our Addresses</h4>
          <h6>91b Oniru Road, Lekki</h6>
          <h6>Lagos, Nigeria</h6>
          <h6>Iykecharles@yahoo.com</h6>
          <h6>+234-7030669469</h6>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <!--Card-->
          <h4>Our Addresses</h4>
          <h6>91b Oniru Road, Lekki</h6>
          <h6>Lagos, Nigeria</h6>
          <h6>Iykecharles@yahoo.com</h6>
          <h6>+234-7030669469</h6>
        </div>
      </div>
    </div>

    <div class="container">
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://iykecharles316.com/"> iykecharles316.com</a>
      </div>
      <!-- Copyright -->
    </div>
  </div>
</div>