{% extends "base.html" %}

{% block content %}


  <div class="container blue">
    <div class="row">
      <div class="col-10 offset-1 table1">
        <h3 class="text-center"><strong>Order Summary</strong></h3>
        <a class="float-right btn btn-warning" href="{% url 'market-details' object.id %}">Go Back to Product Detail</a>
        <table class="table table-hover table-dark table-bordered">
          <thead>
            <th scope="col">#</th>
            <th scope="col">Item title</th>
            <th scope="col">Price</th>
            <th scope="col">Discount Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total Item Price</th>
            <th scope="col">Trash</th>
          </thead>
          {% for order_item in object.items.all %}
          <tbody>
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ order_item.item.title }}</td>
              <td>{{ order_item.item.price }}</td>
              <td>{{ order_item.item.discount_price }}</td>
              <td><a href="{% url 'remove_single_item_cart' order_item.item.id %}"><i class="fas fa-minus mr-2"></i></a>{{ order_item.quantity }}<a href="{% url 'add_to_cart' order_item.item.id %}"><i class="fas fa-plus ml-2"></i></a></td>
              
              <td>{% if order_item.item.discount_price %}
                    {{ order_item.individual_discount_total|truncatechars:9 }}
                  {% elif order_item.item.price %}
                    {{ order_item.individual_total }}
                  {% endif %}              
                                    
                  </td>
              <td><a href="{% url 'remove_from_cart' order_item.item.id %}"><i class="far fa-trash-alt"></i></a></td>
            </tr>            
          </tbody>
          {% endfor %}
        </table>
        <a class="float-right btn btn-success ml-2" href="{% url 'checkoutView' %}">Proceed to Checkout</a>
        <a class="float-right btn btn-success mr-2" href="{% url 'market' %}">Continue Shopping</a>
         
         
        
      </div>
    </div>
  </div>  


 

{% endblock %}